BeautifulSoup==3.2.1
Flask==0.10.1
GDAL==1.10.1
Jinja2==2.7.2
MarkupSafe==0.18
PyYAML==3.10
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
colander==0.9.9
datapackage==0.3.0
ipython==1.1.0
itsdangerous==0.23
libhfst-swig==3.6.1-beta
markdown2==2.2.0
numpy==1.8.0
pyzmq==14.0.1
tornado==3.2
translationstring==1.1
virtualenv==1.11.4
voluptuous==0.8.5
wsgiref==0.1.2
