<!doctype html>

<title>Edit metadata</title>

<h1>Edit metadata</h1>

<form action="../metadata" method="post">
    <input type="hidden" name="granularity" value="{{granularity}}">
    <input type="hidden" name="type" value="{{type}}">
    <input type="hidden" name="filename" value="{{filename}}">

    <h2>Resource metadata for {{filename}}</h2>
    <p>
        Dataset name: <input type="text" name="name_resource" value="{{name}}"><br>
        Currency: <select name="currency">
        {% for cur in currencies %}
            <option value="{{cur[0]}}">{{cur[1]}}</option>
        {% endfor %}
        </select><br>
        Date last updated: <input type="date" name="dateLastUpdated"><br>
        Date published: <input type="date" name="datePublished"><br>
        Fiscal year: <input type="text" name="fiscalYear"><br>
        Status: <select name="status">
            <option value="proposed">proposed</option>
            <option value="approved">approved</option>
            <option value="adjusted">adjusted</option>
            <option value="executed">executed</option>
        </select><br>
    </p>

    <h2>Data package metadata</h2>
    <p>
        Data package name: <input type="text" name="name_package"><br>
    </p>

    <input type="submit" value="Submit">
</form>