<!doctype html>

<title>Upload a CSV</title>

<h1>Upload a CSV</h1>

<form action="./csv" method="post" enctype="multipart/form-data">
  <p>
    <input type="file" name="csv"><br>
    <input type="submit" value="Upload"><br>
    <input type="radio" name="type" value="aggregated-expenditure" checked="checked">Aggregated expenditure</input><br>
    <input type="radio" name="type" value="transactional-expenditure">Transactional expenditure</input><br>
    <input type="radio" name="type" value="aggregated-revenue">Aggregated revenue</input><br>
    <input type="radio" name="type" value="transactional-revenue">Transactional revenue</input><br>
    <input type="checkbox" name="deep" value="deep">Deep validation
  </p>
</form>