{% extends "base.html" %}

{% block title %}Edit metadata{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h1>Edit metadata</h1>
    
    <form action="../metadata" method="post" role="form">
      <input type="hidden" name="granularity" value="{{granularity}}">
      <input type="hidden" name="type" value="{{type}}">
      <input type="hidden" name="filename" value="{{filename}}">
      
      <h2>Resource metadata for {{filename}}</h2>
      
      <div class="form-group">
        <label for="name_resource">Dataset name</label>
        <input type="text" name="name_resource" value="{{name}}">
      </div>
      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control" name="currency">
          {% for (code, name) in currencies %}
          <option value="{{ code }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="dateLastUpdated">Date last updated</label>
        <input type="date" name="dateLastUpdated">
      </div>
      <div class="form-group">
        <label for="datePublished">Date published</label>
        <input type="date" name="datePublished">
      </div>
      <div class="form-group">
        <label for="fiscalYear">Fiscal year</label>
        <input type="text" name="fiscalYear">
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status">
          <option value="proposed">proposed</option>
          <option value="approved">approved</option>
          <option value="adjusted">adjusted</option>
          <option value="executed">executed</option>
        </select>
      </div>
      
      <h2>Data package metadata</h2>
      
      <div class="form-group">
        <label for="name_package">Data package name</label>
        <input type="text" name="name_package">
      </div>
      
      <input type="submit" class="btn btn-default" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
