{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4 step active">
    <div class="counter">1</div>
    
    <h2>Upload</h2>
    <p class="description">Give us your spreadsheet as a CSV file.</p>

    {% include "_csv_upload_form.html" %}
  </div>
  <div class="col-md-4 step text-muted">
    <div class="counter">2</div>
    <h2>Describe</h2>
    <p class="description">Describe your dataset for us</p>
  </div>
  <div class="col-md-4 step text-muted">
    <div class="counter">3</div>
    <h2>Download</h2>
    <p class="description">
      Download your budget data package and start using it
    </p>
  </div>
</div>
{% endblock %}
